@use '../../utils/sass/colors' as *;
@use '../../utils/sass/breakpoints' as *;

.employee {
    display: flex;
    background-color: rgba($primary-color, 0.4);
    padding: 20px;

    @include media-query(medium) {
        height: 100%;
    }
}

