@use '../../utils/sass/colors' as *;
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        width: 320px;
        padding: 18px;
        font-size: 28px;
        color: white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3); 
    }
    &__logo {
        height: 260px;
        width: 260px;
    }

    &__text {
        &-hrnet {
            color: $tertiary-color;
            font-weight: bold;
        }
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
