@use '../../utils/sass/colors' as *;
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #282c34;
    background: no-repeat center/cover url('../../../public/background-home.jpg');

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        width: 320px;
        padding: 18px;
        background-color: rgba(0, 0, 0, 0.3); 
        font-size: 28px;
        color: white;
        backdrop-filter: blur(5px);
        border-radius: 10px;     
    }
    &__logo {
        height: 260px;
        pointer-events: none;
        animation: logo-spin infinite 20s linear;
    }

    &__text {
        &-hrnet {
            color: $tertiary-color;
            font-weight: bold;
        }
    }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
