@use '../../utils/sass/colors' as *;
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: no-repeat center/cover url('../../../public/background-home.jpg');
    
    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        width: 320px;
        padding: 18px;
        font-size: 28px;
        color: white;
        border-radius: 10px;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.3); 
    }
    &__logo {
        height: 260px;
        pointer-events: none;
        animation: logo-spin infinite 20s linear;
    }

    &__text {
        &-hrnet {
            color: $tertiary-color;
            font-weight: bold;
        }
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
